preprocess:
  openimages:
    num_processes: 5
    data_save_path: ./tmp_data
    base_file_folder_name: base_files
    images_folder_name: data/images
    masks_folder_name: data/masks
    mask_data_url: https://storage.googleapis.com/openimages/v5/test-annotations-object-segmentation.csv
    segmentation_masks_base_url: https://storage.googleapis.com/openimages/v5/<SET_NAME>-masks/<SET_NAME>-masks-<ID>.zip
    id_list: ["0", "1"] #["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "a", "b", "c", "d", "e", "f"]
    image_id_base_url: https://storage.googleapis.com/openimages/2018_04/<SET_NAME>/<SET_NAME>-images-with-rotation.csv

logging:
  version: 1
  disable_existing_loggers: False
  formatters:
    simple:
      format: '%(asctime)s - %(name)s - %(levelname)s - %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      level: DEBUG
      formatter: simple
      stream: ext://sys.stdout
    file:
      class: logging.handlers.RotatingFileHandler
      level: INFO
      formatter: simple
      filename: output.log
      maxBytes: 10485760  # 10 MB
      backupCount: 5
  loggers:
    lazyobjectplacement:
      level: DEBUG
      handlers: [console, file]
      propagate: no